@import url('https://fonts.googleapis.com/css?family=Tajawal');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');





.modal-img {
    margin-top: -85px;
    width: 33%;
    border: 5px solid white;
    border-radius: 50%;
    padding: 5px;
    background: #6c757d;
}

@media (max-width: 767px) {
    #hero {
        padding: 20px 20px 40px
    }

        #hero .hero-heading h1 {
            font-size: 30px;
        }
}
