@keyframes loading_anim {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg)
    }
}

@keyframes step_2_anim {
    50% {
        transform: scale(1.08,1.08)
    }
}

@keyframes step_1_anim {
    0% {
        transform: rotate(0);
        top: 0
    }

    5% {
        transform: rotate(10deg);
        top: 0
    }

    10% {
        transform: rotate(-8deg);
        top: 0
    }

    15% {
        transform: rotate(6deg);
        top: 0
    }

    20% {
        transform: rotate(-4deg);
        top: 0
    }

    25% {
        transform: rotate(2deg);
        top: 0
    }

    30% {
        transform: rotate(0);
        top: 0
    }
}

@keyframes open_anim {
    50% {
        transform: scale(1.5,1.5)
    }
}

@font-face {
    font-family: iransans;
    src: url(../font/IRANSans.woff) format('woff'),url(../font/IRANSans.ttf) format('truetype')
}

@font-face {
    font-family: iiransans;
    src: url(../font/IRANSans-I.woff) format('woff'),url(../font/IRANSans-I.ttf) format('truetype')
}

@font-face {
    font-family: biransans;
    src: url(../font/IRANSans-B.woff) format('woff'),url(../font/IRANSans-B.ttf) format('truetype')
}

@font-face {
    font-family: bbiransans;
    src: url(../font/IRANSans-BB.woff) format('woff'),url(../font/IRANSans-BB.ttf) format('truetype')
}

@font-face {
    font-family: fontawesome;
    src: url(../font/fontawesome-webfont.eot?v=4.6.3);
    src: url(../font/fontawesome-webfont.eot?#iefix&v=4.6.3) format('embedded-opentype'),url(../font/fontawesome-webfont.woff2?v=4.6.3) format('woff2'),url(../font/fontawesome-webfont.woff?v=4.6.3) format('woff'),url(../font/fontawesome-webfont.ttf?v=4.6.3) format('truetype'),url(../font/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular) format('svg');
    font-weight: 400;
    font-style: normal
}

body {
    margin: 0;
    padding: 0;
    font-family: iransans,tahoma;
    font-size: 10pt;
    direction: rtl;
    color: #000;
    background-color: #fff
}

a {
    text-decoration: none;
    color: #111
}

.font {
    font-family: iransans,tahoma
}

.bold_font {
    font-family: biransans,tahoma
}

.ltr {
    direction: ltr
}

.rtl {
    direction: rtl
}

.left_align {
    text-align: left
}

.right_align {
    text-align: right
}

.center_align {
    text-align: center
}

img {
    border-style: none;
    vertical-align: middle
}

.icon {
    display: inline-block;
    font: normal normal normal 14px/1 fontawesome;
    vertical-align: middle;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.center_width {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto
}

.tbl {
    display: table
}

    .tbl > div {
        display: table-cell;
        vertical-align: middle
    }

.font_10 {
    font-size: 10pt
}

.font_11 {
    font-size: 11pt
}

.font_12 {
    font-size: 12pt
}

.white_text {
    color: #fff
}

.black_text {
    color: #000
}

.black_back {
    background-color: #333
}

.blue_back {
    background-color: #03a9f5
}

.pink_back {
    background-color: #e91d62
}

.gray_back {
    background-color: #ddd
}

.black_glass {
    background-color: rgba(0,0,0,.1)
}

.white_glass {
    background-color: rgba(255,255,255,.1)
}

.button {
    position: relative;
    height: 37px;
    line-height: 37px;
    display: inline-block;
    overflow: hidden;
    border-radius: 3px;
    font-size: 11pt
}

    .button > div:nth-child(1) {
        padding: 0 13px;
        cursor: pointer;
        border-radius: 3px
    }

        .button > div:nth-child(1):hover {
            opacity: .6
        }

    .button > div:nth-child(2) {
        width: 100%;
        height: 37px;
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(0,0,0,.5);
        text-align: center;
        display: none
    }

        .button > div:nth-child(2) span {
            background-image: url(../temp/cir_loading.png);
            background-size: 100% auto;
            display: inline-block;
            width: 20px;
            height: 20px;
            vertical-align: middle;
            animation: loading_anim .9s infinite;
            moz-animation: loading_anim .9s infinite;
            -webkit-animation: loading_anim .9s infinite
        }

.minimal_button {
    height: 27px;
    line-height: 27px;
    font-size: 10pt
}

    .minimal_button > div:nth-child(1) {
        padding: 0 10px
    }

    .minimal_button > div:nth-child(2) {
        height: 27px
    }

        .minimal_button > div:nth-child(2) span {
            width: 15px;
            height: 15px
        }

.font_b {
    font-family: biransans,tahoma
}

#top_head {
    display: none
}

#food_list_button {
    font-size: 13pt;
    display: table;
    margin: 40px auto 0;
    border-radius: 2px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 0 5px rgba(255,255,255,.15)
}

    #food_list_button > div {
        display: table-cell;
        vertical-align: middle
    }

        #food_list_button > div:nth-child(1) {
            padding: 12px 15px;
            background-color: #202020;
            border-bottom: 0 solid #101010
        }

            #food_list_button > div:nth-child(1) img {
                height: 25px
            }

        #food_list_button > div:nth-child(2) {
            padding: 0 50px;
            background-color: #f53a1b;
            border-bottom: 0 solid #bc2c13;
            color: #fff;
            font-family: iransans,tahoma
        }

#top_menu_bar {
    width: 100%;
    height: 60px;
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: +10;
    box-shadow: 0 1px 8px rgba(0,0,0,.2)
}

    #top_menu_bar > .tbl > div:nth-child(2) {
        padding: 0 10px 0 0;
        height: 60px
    }

        #top_menu_bar > .tbl > div:nth-child(2) img {
            height: 35px;
            vertical-align: middle
        }

#menu_large > * {
    font-size: 11pt;
    display: block;
    float: right;
    height: 60px;
    line-height: 60px;
    padding: 0 10px;
    margin-right: 0
}

    #menu_large > * img {
        vertical-align: middle;
        height: 20px;
        margin-left: 7px
    }

#menu_large > .menu_hover {
    cursor: pointer
}

    #menu_large > .menu_hover:hover {
        background-color: #f6f6f6
    }

#menu_small {
    font-size: 11pt;
    display: block;
    float: right;
    height: 60px;
    line-height: 60px;
    padding: 0 10px;
    display: none;
    cursor: pointer
}

    #menu_small img {
        height: 20px
    }

    #menu_small:hover {
        background-color: #f6f6f6
    }

.sub_menu {
    position: relative
}

    .sub_menu > div {
        width: 250px;
        height: auto;
        position: absolute;
        left: 0;
        top: 150px;
        display: none;
        opacity: 0;
        padding: 15px 0;
        cursor: text
    }

        .sub_menu > div > div {
            border-radius: 8px;
            background-color: #fff;
            width: 100%;
            height: auto;
            line-height: 18px;
            padding: 15px 0;
            box-shadow: 0 1px 8px rgba(0,0,0,.2)
        }

            .sub_menu > div > div > * {
                display: block;
                padding: 5px 15px;
                text-align: right;
                cursor: pointer
            }

            .sub_menu > div > div > :hover {
                background-color: #f6f6f6
            }

            .sub_menu > div > div > * img {
                height: 30px;
                margin-left: 5px
            }

#null_menu {
    width: 100%;
    background-color: #fff;
    height: 60px
}

#right_menu_back {
    position: fixed;
    right: 0;
    top: 0;
    z-index: +10;
    width: 100%;
    background-color: rgba(0,0,0,.3);
    display: none
}

#right_menu {
    position: fixed;
    right: -320px;
    top: 0;
    z-index: +11;
    width: 300px;
    background-color: #fff;
    box-shadow: 0 -5px 10px rgba(0,0,0,.7);
    overflow-y: auto;
    font-size: 12pt
}

    #right_menu > div {
        padding: 0 0 10px;
        text-align: right
    }

.menu_label {
    margin: 10px 0 0;
    padding: 5px 15px;
    display: block;
    border-radius: 4px;
    text-align: right;
    background-color: #fafafa;
    color: #bbb
}

    .menu_label img {
        height: 16px;
        margin-left: 5px
    }

#menu_top_label {
    width: 100%;
    margin: 0 0 20px
}

    #menu_top_label > div:nth-child(1) {
        font-size: 18pt;
        padding-right: 10px
    }

    #menu_top_label > div:nth-child(2) {
        padding-left: 10px
    }

        #menu_top_label > div:nth-child(2) img {
            height: 14px;
            opacity: .2;
            cursor: pointer
        }

            #menu_top_label > div:nth-child(2) img:hover {
                opacity: .7
            }

#search_background {
    background-image: url(../temp/food.jpg);
    background-position: center center;
    height: auto
}

    #search_background .tbl {
        width: 100%;
        min-height: 450px;
        text-align: center
    }

    #search_background h2 {
        font-size: 45pt;
        color: #fff;
        font-family: bbiransans,tahoma;
        font-weight: 400;
        margin: 0;
        margin-bottom: 10px
    }

#search_result {
    width: 100%;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 2px 7px rgba(0,0,0,.5);
    line-height: 20px;
    font-size: 11pt;
    overflow: hidden;
    padding: 10px 0;
    display: none
}

    #search_result span {
        display: block;
        padding: 3px 10px;
        text-align: right;
        cursor: pointer
    }

        #search_result span:hover {
            background-color: #f5f5f5
        }

#search_bar {
    padding: 0 10px;
    background-color: rgba(0,0,0,.6);
    color: #fff;
    font-size: 11pt;
    font-family: iransans,tahoma
}

    #search_bar a {
        display: inline-block;
        margin: 0 5px;
        color: #fff;
        padding: 15px 15px 15px
    }

        #search_bar a img {
            height: 35px;
            margin-left: 10px
        }

        #search_bar a:hover {
            background-color: rgba(0,0,0,.8)
        }

.center_title {
    font-size: 11pt;
    text-align: center;
    padding: 40px 10px 20px
}

    .center_title span {
        font-size: 22pt;
        display: block;
        margin: 0;
        line-height: 34px;
        font-family: bbiransans,tahoma
    }

    .center_title a {
        padding: 0 5px;
        text-decoration: underline
    }

.step_item {
    width: 190px;
    height: 190px;
    margin: -10px auto 0;
    position: relative
}

    .step_item > img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%
    }

.step_1 {
    animation: step_2_anim 1.4s infinite
}

.step_2 {
    animation: step_1_anim 2s infinite
}

.step_3 {
    animation: step_2_anim 1.4s infinite
}

#step_label {
    width: 100%;
    margin-top: -20px;
    font-size: 11pt
}

    #step_label > div {
        width: 33.33%;
        text-align: center
    }

        #step_label > div span:nth-child(2) {
            font-size: 14pt;
            font-family: biransans,tahoma
        }

        #step_label > div span:nth-child(3) {
            display: block;
            padding: 0 20px
        }

        #step_label > div .step_img {
            display: none;
            margin-bottom: -20px
        }

            #step_label > div .step_img img {
                width: 100%;
                max-width: 200px
            }

#sec_off {
    width: 100%;
    height: auto;
    background-color: #151515;
    margin-top: 100px;
    margin-bottom: 10px;
    background-image: url(../temp/pattern2.png);
    background-size: auto 170px
}

    #sec_off > div {
        width: 100%;
        height: 180px;
        position: relative
    }

        #sec_off > div > span {
            display: block;
            position: absolute;
            left: 0;
            top: -30px;
            width: 300px;
            height: 240px;
            background-image: url(../temp/hamburger.png);
            background-size: 100% auto
        }

#off_text {
    padding-left: 350px;
    padding-right: 15px;
    color: #fff;
    font-size: 12pt
}

    #off_text > div {
        font-size: 24pt;
        font-family: bbiransans,tahoma
    }

.main_color {
    color: #f53a1b
}

.rest_holder {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px
}

.rest_item {
    display: inline-block;
    width: 180px;
    height: 200px;
    margin: 0 10px 5px;
    text-align: center
}

    .rest_item > div:nth-child(1) {
        position: relative;
        width: 180px;
        height: 100px;
        text-align: center;
        padding-top: 20px
    }

        .rest_item > div:nth-child(1) img {
            width: 90px;
            height: 90px;
            border-radius: 2px;
            background-color: #fff;
            transition: .1s;
            box-shadow: 0 0 0 5px rgba(0,0,0,.1)
        }

            .rest_item > div:nth-child(1) img:hover {
                transform: scale(1.15,1.15)
            }

        .rest_item > div:nth-child(1) div {
            position: absolute;
            left: 15px;
            top: 0;
            width: 45px;
            height: 25px;
            background-color: #222;
            line-height: 25px;
            color: #fff;
            font-size: 9pt;
            border-radius: 15px;
            border-bottom-right-radius: 2px;
            border-top-left-radius: 2px
        }

            .rest_item > div:nth-child(1) div span {
                font-size: 6pt;
                margin-left: 2px
            }

    .rest_item > div:nth-child(2) {
        display: inline-block;
        font-size: 12pt;
        font-family: bbiransans,tahoma;
        width: 100%;
        height: 20px;
        line-height: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 8px
    }

        .rest_item > div:nth-child(2) span {
            display: inline-block;
            width: 8px;
            height: 8px;
            border-radius: 100%;
            margin-left: 10px;
            vertical-align: middle;
            margin-right: 2px
        }

    .rest_item > div:nth-child(3) {
        width: 100%;
        height: 15px;
        line-height: 5px
    }

        .rest_item > div:nth-child(3) img {
            height: 14px;
            margin-left: 3px;
            opacity: .2
        }

        .rest_item > div:nth-child(3) a {
            text-decoration: underline;
            font-size: 9pt
        }

.bottom_all_holder {
    margin-bottom: 60px
}

.all_button {
    background-color: #f53a1b;
    color: #fff;
    font-size: 10pt;
    padding: 6px 12px;
    border-radius: 2px;
    font-family: biransans,tahoma;
    box-shadow: 0 5px 0 #a6210a
}

    .all_button:hover {
        opacity: .8
    }

    .all_button img {
        height: 20px;
        margin-left: 12px;
        vertical-align: middle
    }

#footer_spc {
    margin-top: 30px
}

    #footer_spc > div:nth-child(1) {
        padding: 10px 10px;
        background-color: #252525;
        font-size: 12pt;
        color: #fff
    }

        #footer_spc > div:nth-child(1) img {
            height: 25px;
            margin-left: 3px
        }

        #footer_spc > div:nth-child(1) a img {
            height: 30px
        }

        #footer_spc > div:nth-child(1) div:nth-child(3) {
            font-size: 14pt;
            direction: ltr
        }

            #footer_spc > div:nth-child(1) div:nth-child(3) span {
                font-size: 9pt;
                margin-left: 10px
            }

    #footer_spc > div:nth-child(2) {
        font-size: 10pt;
        color: #bbb;
        padding: 25px 10px;
        background-color: #151515
    }

        #footer_spc > div:nth-child(2) span {
            font-size: 14pt;
            font-family: biransans,tahoma;
            display: block;
            color: #eee
        }

#namad_holder {
    width: 380px;
    text-align: left
}

.namad_item {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 0 6px;
    background-color: rgba(255,255,255,.1)
}

#footer_spc > div:nth-child(3) {
    padding: 5px 10px;
    background-color: #151515;
    border-top: 1px dashed #222
}

    #footer_spc > div:nth-child(3) a {
        font-size: 9pt;
        padding: 0 10px;
        color: #aaa
    }

    #footer_spc > div:nth-child(3) span {
        font-size: 9pt;
        padding: 0 10px;
        color: #aaa;
        cursor: pointer
    }

#bg_win {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #000;
    opacity: .6;
    z-index: +100;
    display: none
}

.over_win {
    box-shadow: 0 0 0 6px rgba(255,255,255,.2);
    background-color: #fff;
    position: fixed;
    top: 300px;
    z-index: +101;
    display: none;
    opacity: 0;
    overflow: hidden;
    border-radius: 15px
}

    .over_win > div:nth-child(1) {
        width: 100%;
        height: 0;
        position: relative
    }

    .over_win > div:nth-child(2) {
        position: relative;
        overflow-y: auto
    }

        .over_win > div:nth-child(2) > div {
            height: auto;
            padding: 25px
        }

.over_win_large {
    width: 100%;
    max-width: 700px
}

.over_win_small {
    width: 100%;
    max-width: 300px
}

.login_register_form {
    width: 100%;
    margin-top: 20px
}

    .login_register_form > div:nth-child(2) {
        width: 340px
    }

        .login_register_form > div:nth-child(2) img {
            width: 300px
        }

        .login_register_form > div:nth-child(2) span {
            display: block;
            margin-top: 10px;
            font-size: 10pt;
            font-family: biransans,tahoma;
            cursor: pointer;
            padding-right: 30px
        }

            .login_register_form > div:nth-child(2) span:hover {
                text-decoration: underline
            }

    .login_register_form > div:nth-child(1) > span:nth-child(1) {
        font-size: 16pt;
        font-family: bbiransans,tahoma;
        margin-bottom: 20px;
        display: block
    }

.form_input_1 {
    overflow: hidden;
    border-radius: 3px;
    display: table;
    margin: 0 auto 15px
}

    .form_input_1 > div {
        display: table-cell;
        text-align: center;
        vertical-align: middle
    }

        .form_input_1 > div:nth-child(1) {
            min-width: 40px;
            width: 40px;
            height: auto;
            background-color: #ddd
        }

            .form_input_1 > div:nth-child(1) img {
                height: 20px
            }

        .form_input_1 > div:nth-child(2) {
            width: auto;
            background-color: #f2f2f2
        }

            .form_input_1 > div:nth-child(2) input {
                width: 200px;
                height: 30px;
                padding: 5px 10px;
                border-style: none;
                outline-style: none;
                background: 0 0;
                position: relative
            }

            .form_input_1 > div:nth-child(2) select {
                width: 220px;
                height: 40px;
                padding: 5px 0;
                border-style: none;
                outline-style: none;
                background: 0 0
            }

            .form_input_1 > div:nth-child(2) textarea {
                width: 200px;
                max-width: 200px;
                min-width: 200px;
                min-height: 100px;
                height: 150px;
                padding: 5px 10px;
                border-style: none;
                outline-style: none;
                background: 0 0
            }

.login_register_form_button {
    width: 260px;
    height: auto;
    margin: 20px auto 0
}

    .login_register_form_button > div:nth-child(1) span {
        font-size: 10pt;
        font-family: biransans,tahoma;
        cursor: pointer
    }

        .login_register_form_button > div:nth-child(1) span:hover {
            text-decoration: underline
        }

    .login_register_form_button > div:nth-child(2) {
        padding-right: 5px
    }

#contact {
    width: 100%;
    margin-top: 50px
}

    #contact > div {
        vertical-align: top
    }

        #contact > div:nth-child(1) {
            width: 240px;
            padding-right: 20px;
            text-align: right
        }

        #contact > div:nth-child(2) {
            padding-right: 20px;
            padding-left: 20px
        }

.contact_item {
    margin-bottom: 10px;
    font-size: 12pt
}

    .contact_item img {
        height: 30px;
        margin-left: 10px;
        vertical-align: middle
    }

    .contact_item span {
        font-size: 10pt;
        font-family: biransans,tahoma;
        margin-right: 10px
    }

        .contact_item span:before {
            content: "(";
            font-size: 12pt;
            margin-left: 2px;
            font-family: iransans,tahoma
        }

        .contact_item span:after {
            content: ")";
            font-size: 12pt;
            margin-right: 2px;
            font-family: iransans,tahoma
        }

#filter {
    padding: 15px;
    background-color: #f5f5f5;
    margin: 0 auto 50px;
    font-size: 12pt
}

    #filter div.right {
        float: right;
        margin-left: 30px
    }

    #filter div.left {
        float: left
    }

    #filter span {
        margin-left: 5px
    }

    #filter div select {
        width: 170px;
        padding: 3px 10px;
        background-color: #fff;
        outline-style: none;
        border-style: none;
        font-size: 11pt
    }

#restaurant_banner {
    background-color: #c39a58a3;
    margin-bottom: 20px;
    padding: 35px 0;
    color: #fff;
    background-image: url(../images/pattern2.png);
    background-size: auto 170px
}

    #restaurant_banner > .tbl > div:nth-child(1) {
        padding-right: 15px
    }

    #restaurant_banner > .tbl > div:nth-child(2) {
        padding-left: 15px
    }

#restaurant_info > div:nth-child(1) {
    padding-left: 20px
}

    #restaurant_info > div:nth-child(1) img {
        width: 120px;
        height: 120px;
        border-radius: 10px;
        box-shadow: 0 0 0 6px rgba(255,255,255,.1)
    }

#restaurant_info > div:nth-child(2) #rest_info_name {
    display: block;
    font-size: 20pt;
    font-family: bbiransans,tahoma
}

#restaurant_info > div:nth-child(2) #rest_info_open {
    display: block;
    font-size: 11pt;
    font-family: biransans,tahoma
}

    #restaurant_info > div:nth-child(2) #rest_info_open span {
        display: inline-block;
        width: 7px;
        height: 7px;
        border-radius: 100%;
        vertical-align: middle;
        margin-left: 10px
    }

#restaurant_info > div:nth-child(2) #rest_info_button {
    padding-top: 15px
}

#rest_info_off {
    display: inline-block;
    font-size: 11pt;
    font-family: bbiransans,tahoma;
    margin-right: 10px;
    padding: 0 8px;
    background-color: #c39a58c2;
    color: #fff;
    border-radius: 10px
}

.rest_fo {
    color: #fff
}

    .rest_fo span {
        font-size: 12pt;
        margin-left: 10px
    }

    .rest_fo a {
        color: #fff;
        text-decoration: underline
    }

#restaurant_info_2 {
    direction: ltr;
    font-size: 10pt;
    color: #fff
}

#restaurant_cols {
    width: 100%
}

    #restaurant_cols > div {
        vertical-align: top
    }

        #restaurant_cols > div:nth-child(1) {
            padding-right: 15px;
            padding-left: 15px
        }

        #restaurant_cols > div:nth-child(2) {
            padding-left: 15px;
            width: 300px;
            position: relative;
            overflow: hidden
        }

.food_list {
    padding: 15px 5px
}

.food_item {
    width: 50%;
    float: right;
    margin: 15px 0
}

    .food_item > div:nth-child(1) {
        width: 110px;
        padding-left: 15px
    }

        .food_item > div:nth-child(1) img {
            width: 110px;
            height: 110px;
            border-radius: 12px
        }

    .food_item > div:nth-child(2) > span:nth-child(1) {
        display: block;
        font-size: 13pt;
        font-family: bbiransans,tahoma
    }

    .food_item > div:nth-child(2) > span:nth-child(2) {
        display: block;
        font-size: 16pt;
        font-family: iransans,tahoma;
        padding-bottom: 10px
    }

        .food_item > div:nth-child(2) > span:nth-child(2) span {
            font-size: 10pt;
            font-family: iransans,tahoma;
            margin-right: 5px
        }

#cart_win {
    width: 300px;
    height: auto;
    background-color: #fff0bb;
    border-radius: 3px
}

    #cart_win > div:nth-child(1) {
        padding: 0 10px;
        text-align: center;
        font-size: 13pt;
        font-family: iransans,tahoma;
        background-color: #;
        color: #fff;
        height: 45px;
        line-height: 45px
    }

    #cart_win > div:nth-child(2) {
        overflow-y: auto
    }

        #cart_win > div:nth-child(2) > div {
            padding: 15px
        }

#null_cart {
    padding: 40px 0;
    text-align: center
}

    #null_cart div {
        opacity: .8;
        font-size: 12pt;
        font-family: bbiransans,tahoma
    }

    #null_cart img {
        width: 70%
    }

#cart_button {
    width: 100%;
    margin-top: 20px
}

#list_cart {
    padding: 0
}

#cart_item {
    width: 100%
}

    #cart_item td:nth-child(2) {
        text-align: left;
        font-size: 13pt;
        width: 90px
    }

        #cart_item td:nth-child(2) span:nth-child(1) {
            display: inline-block;
            width: 20px;
            height: 20px;
            background-image: url(../temp/plus.png);
            background-size: 100% auto;
            vertical-align: middle
        }

        #cart_item td:nth-child(2) span:nth-child(3) {
            display: inline-block;
            width: 20px;
            height: 20px;
            background-image: url(../temp/minus.png);
            background-size: 100% auto;
            vertical-align: middle
        }

        #cart_item td:nth-child(2) span:nth-child(odd) {
            cursor: pointer
        }

            #cart_item td:nth-child(2) span:nth-child(odd):hover {
                opacity: .8
            }

        #cart_item td:nth-child(2) span:nth-child(2) {
            padding: 0 5px
        }

.fadeIn {
    display: block
}

.fadeOut {
    display: none
}

#post_price {
    font-size: 11pt;
    display: none
}

    #post_price span:nth-child(1) {
        font-family: biransans,tahoma;
        margin-left: 5px
    }

    #post_price span:last-child {
        font-family: biransans,tahoma;
        margin-right: 10px;
        font-size: 8pt
    }

#post_loading {
    padding: 0 0;
    text-align: center;
    display: none
}

    #post_loading img {
        height: 20px;
        animation: loading_anim .9s infinite;
        moz-animation: loading_anim .9s infinite;
        -webkit-animation: loading_anim .9s infinite
    }

#order_list {
    width: 100%;
    min-width: 500px
}

#off_code {
    margin: 20px auto;
    text-align: center
}

    #off_code > label {
        display: inline-block;
        font-size: 12pt;
        font-family: biransans,tahoma;
        margin: 4px 3px
    }

    #off_code > input {
        width: 170px;
        height: 30px;
        padding: 5px;
        border-style: none;
        outline-style: none;
        background-color: #eee;
        margin: 4px 3px
    }

    #off_code > span {
        display: inline-block;
        height: 40px;
        padding: 0 20px;
        margin: 4px 3px;
        line-height: 40px;
        position: relative;
        vertical-align: top;
        border-radius: 4px;
        overflow: hidden;
        cursor: pointer
    }

        #off_code > span div {
            position: absolute;
            width: 100%;
            height: 40px;
            line-height: 40px;
            left: 0;
            top: 0;
            background-color: rgba(0,0,0,.4);
            text-align: center;
            display: none
        }

            #off_code > span div img {
                height: 25px;
                animation: loading_anim .9s infinite;
                moz-animation: loading_anim .9s infinite;
                -webkit-animation: loading_anim .9s infinite
            }

#order_info {
    background-color: #27a75a;
    margin: 0 auto 10px
}

    #order_info tr:nth-child(1) td {
        text-align: center;
        font-size: 14pt;
        padding-bottom: 20px;
        opacity: .4
    }

    #order_info td {
        padding: 5px 0
    }

        #order_info td:nth-child(1) {
            padding-left: 15px;
            padding-right: 10px
        }

        #order_info td:nth-child(2) {
            padding-left: 10px
        }

    #order_info input {
        width: 240px;
        padding: 5px;
        border-style: none;
        outline-style: none;
        border-radius: 4px
    }

    #order_info textarea {
        width: 240px;
        max-width: 240px;
        min-width: 240px;
        height: 100px;
        max-height: 140px;
        min-height: 100px;
        padding: 5px;
        border-style: none;
        outline-style: none;
        vertical-align: middle;
        border-radius: 4px
    }

    #order_info tr:last-child td {
        text-align: left;
        padding-top: 10px;
        padding-bottom: 25px;
        padding-left: 10px
    }

#search_win {
    padding: 25px 0 0
}

.search_item {
    position: relative;
    margin: 5px 0
}

    .search_item > label {
        display: block;
        height: 20px;
        line-height: 15px;
        font-family: biransans,tahoma
    }

    .search_item > div:nth-child(2) {
        width: 100%;
        height: 45px
    }

    .search_item input {
        width: 100%;
        display: inline-block;
        box-sizing: border-box;
        padding: 5px;
        height: 40px;
        vertical-align: middle;
        border-style: none;
        outline-style: none;
        background-color: #f1f1f1;
        border-radius: 0
    }

    .search_item select {
        width: 100%;
        display: inline-block;
        box-sizing: border-box;
        padding: 5px;
        height: 40px;
        vertical-align: middle;
        border-style: none;
        outline-style: none;
        background-color: #f1f1f1;
        border-radius: 0
    }

    .search_item > div:nth-child(3) {
        position: absolute;
        left: 0;
        top: 60px;
        width: 100%;
        z-index: +1;
        background-color: #fff;
        padding: 0 0;
        line-height: 25px;
        max-height: 100px;
        overflow-y: auto;
        box-shadow: 0 1px 4px rgba(0,0,0,.3);
        display: none;
        font-size: 10pt
    }

    .search_item > div span {
        display: block;
        padding: 0 10px;
        cursor: pointer
    }

        .search_item > div span:hover {
            background-color: #eee
        }

#search_win .left_align {
    padding-top: 10px
}

.search_loading {
    padding: 5px 0;
    width: 100%;
    text-align: center;
    opacity: .4
}

    .search_loading img {
        width: 20px;
        height: 20px;
        animation: loading_anim .9s infinite;
        -moz-animation: loading_anim .9s infinite;
        -webkit-animation: loading_anim .9s infinite
    }

#sec_404 {
    padding: 70px 0 40px;
    text-align: center
}

    #sec_404 img {
        max-width: 100%;
        max-height: 200px
    }

    #sec_404 .title_404 {
        padding-top: 10px;
        font-size: 25pt;
        font-family: bbiransans,tahoma;
        opacity: .5;
        line-height: 35px
    }

    #sec_404 .info_404 {
        font-size: 12pt;
        opacity: .4;
        padding-top: 10px
    }

        #sec_404 .info_404 > a {
            padding: 0 10px;
            font-size: 13pt;
            text-decoration: underline
        }

    #sec_404 .link_404 {
        padding-top: 20px
    }

        #sec_404 .link_404 > span {
            padding: 4px 10px;
            font-size: 12pt;
            background-color: #f1f1f1;
            border-radius: 10px;
            margin: 0 4px;
            cursor: pointer;
            color: #aaa
        }

.more_info {
    display: inline-block;
    width: auto;
    height: 27px;
    line-height: 27px;
    padding: 0;
    margin-left: 10px;
    vertical-align: top;
    position: relative
}

    .more_info > span {
        font-size: 10pt;
        font-family: biransans,tahoma;
        opacity: .4;
        cursor: pointer
    }

    .more_info > div {
        width: 250px;
        height: auto;
        position: absolute;
        z-index: +10;
        right: -15px;
        top: 18px;
        line-height: 18px;
        font-size: 9pt;
        color: #aaa;
        display: none
    }

        .more_info > div > div:nth-child(1) {
            padding-right: 30px;
            line-height: 10px
        }

            .more_info > div > div:nth-child(1) img {
                vertical-align: bottom;
                height: 18px
            }

        .more_info > div > div:nth-child(2) {
            background-color: #333;
            border-radius: 5px;
            padding: 10px
        }

    .more_info:hover > div {
        display: block
    }

#loading {
    width: 200px;
    height: auto;
    background-color: #fff;
    position: fixed;
    bottom: 20px;
    left: 20px;
    border-radius: 10px;
    z-index: +200;
    display: none;
    box-shadow: 0 2px 10px rgba(0,0,0,.3)
}

    #loading > div:nth-child(1) {
        padding: 10px 10px 10px 10px
    }

        #loading > div:nth-child(1) img {
            height: 25px;
            vertical-align: middle;
            animation: loading_anim .9s infinite;
            moz-animation: loading_anim .9s infinite;
            -webkit-animation: loading_anim .9s infinite
        }

    #loading > div:nth-child(2) {
        padding: 10px 0 10px 10px;
        font-size: 10pt;
        font-family: biransans,tahoma
    }

#star_holder {
    disrection: ltr;
    margin-bottom: 10px
}

    #star_holder span.star {
        display: inline-block;
        width: 30px;
        height: 30px;
        background-size: 60% auto;
        padding: 0;
        background-color: rgba(255,255,255,.1);
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 12px;
        margin: 0 3px
    }

.star_0 {
    background-image: url(../temp/star0.png)
}

.star_1 {
    background-image: url(../temp/star1.png)
}

.star_2 {
    background-image: url(../temp/star2.png)
}

#star_holder > div:nth-child(2) {
    direction: rtl
}

    #star_holder > div:nth-child(2) span:nth-child(1) {
        font-size: 18pt;
        color: #f8c30d;
        font-family: bbiransans,tahoma;
        padding-left: 20px
    }

    #star_holder > div:nth-child(2) span:nth-child(2) {
        font-size: 8pt;
        color: #fff;
        direction: rtl;
        padding-left: 10px;
        opacity: .6
    }

#order_list {
    width: 100%;
    font-size: 11pt;
    margin-top: 30px
}

    #order_list td {
        padding: 5px 10px
    }

        #order_list td.null_td {
            background-color: #fcfcfc;
            text-align: center;
            padding: 25px 0;
            color: #ccc
        }

.food_number {
    font-size: 9pt;
    font-family: biransans,tahoma;
    margin-right: 15px;
    opacity: .5
}

@media only screen and (max-width:900px) {
    #menu_large {
        display: none
    }

    #menu_small {
        display: block
    }

    #filter span {
        display: block
    }

    #filter div select {
        width: 140px
    }

    #search_background h2 {
        font-size: 35pt
    }

    #footer_spc > div:nth-child(1) .tbl > div {
        display: block
    }

        #footer_spc > div:nth-child(1) .tbl > div:nth-child(1) {
            padding-bottom: 15px;
            padding-top: 10px;
            width: 100%
        }

    #restaurant_cols > div {
        padding: 0 20px;
        display: block
    }

        #restaurant_cols > div:nth-child(2) {
            width: 100%;
            padding-top: 50px;
            overflow: auto;
            padding: 0
        }

    #cart_win {
        width: 300px;
        margin: 0 auto
    }
}

@media only screen and (max-width:800px) {
    #step_label {
        margin-top: 20px
    }

        #step_label > div {
            display: block;
            width: 100%;
            margin-bottom: 10px
        }

            #step_label > div .step_img {
                display: block
            }

    #sec_off > div > span {
        display: none
    }

    #sec_off > div {
        height: auto;
        padding: 30px 0
    }

    #off_text {
        padding-left: 15px
    }

    .center_title span {
        font-size: 18pt
    }

    #off_text > div {
        font-size: 18pt
    }

    #restaurant_banner > .tbl > div {
        display: block
    }

        #restaurant_banner > .tbl > div:nth-child(1) .tbl {
            margin-bottom: 30px
        }
}

@media only screen and (max-width:700px) {
    .login_register_form > div {
        display: block;
        width: 100%
    }

        .login_register_form > div:nth-child(2) {
            width: 100%
        }

            .login_register_form > div:nth-child(2) img {
                display: none
            }

            .login_register_form > div:nth-child(2) span {
                padding-right: 0
            }

    #contact > div {
        display: block
    }

        #contact > div:nth-child(1) {
            width: 100%;
            margin-bottom: 30px;
            padding-right: 0
        }

    #footer_spc > div:nth-child(2) .tbl > div {
        display: block
    }

        #footer_spc > div:nth-child(2) .tbl > div:nth-child(2) {
            width: 100%;
            text-align: center;
            padding-top: 20px
        }

    .food_item {
        width: 100%
    }
}

@media only screen and (max-width:600px) {
    #filter div.left {
        float: right
    }

    #filter div {
        display: block;
        width: 100%;
        margin: 5px 0 10px;
        text-align: right
    }

        #filter div select {
            width: 100%
        }

    #search_background h2 {
        font-size: 18pt
    }

    #search_bar {
        display: none
    }

    #footer_spc > div:nth-child(1) .tbl > div:nth-child(1) {
        text-align: center
    }

    #sec_404 .title_404 {
        font-size: 18pt
    }

    #restaurant_banner > .tbl > div:nth-child(1) {
        padding-right: 0
    }

        #restaurant_banner > .tbl > div:nth-child(1) .tbl {
            width: 100%;
            margin-bottom: 30px
        }

            #restaurant_banner > .tbl > div:nth-child(1) .tbl > div {
                display: block;
                width: 100%;
                text-align: center
            }

                #restaurant_banner > .tbl > div:nth-child(1) .tbl > div:nth-child(1) {
                    padding: 10px 0 10px
                }

    #restaurant_banner > .tbl > div:nth-child(2) {
        padding: 0 10px
    }
}

@media only screen and (max-width:500px) {
    #order_info td:nth-child(1) {
        padding-left: 10px;
        padding-right: 10px
    }

    #order_info td:nth-child(2) {
        padding-left: 10px
    }

    #order_info input {
        width: 140px
    }

    #order_info textarea {
        width: 140px;
        max-width: 140px;
        min-width: 140px
    }
}

@media only screen and (max-width:400px) {
    #top_menu_bar > .tbl > div:nth-child(2) img {
        height: 35px
    }

    #right_menu {
        width: 230px;
        font-size: 10pt
    }

    .form_input_1 > div:nth-child(2) input {
        width: 140px
    }

    .form_input_1 > div:nth-child(2) textarea {
        width: 140px;
        max-width: 140px;
        min-width: 140px
    }

    .login_register_form_button {
        width: 200px
    }

    #star_holder {
        width: 100%
    }

        #star_holder > div {
            display: block;
            text-align: center
        }

    #restaurant_banner > .tbl > div:nth-child(2) {
        text-align: center
    }

    .rest_fo {
        margin: 0 auto
    }
}

.after_login {
    display: none
}

.sub_menu > div > div > .after_login {
    display: none
}
